// -----------------------
// == Colors
// -----------------------

$dark-blue: #4a74b7;
$blue-green: #1fb16d;
$white: #ffffff;
$light-blue: #74b7e0;
$light-green: #65a234;
$dark-green: #11753c;
$teal: #239a92;



.dark-blue { color:$dark-blue; }
.light-blue { color:$light-blue; }
.blue-green { color: $blue-green; }
.light-green { color: $light-green; }
.dark-green { color: $dark-green; }
.teal { color: $teal; }