// -----------------------
// == Footer
// -----------------------


//------ Float ------//

#footer-info {
    color: #a1b3be;
}

#footer-bottom {
      background-color: #F2F2F2;
      padding: 25px 0 15px;
}

#main-footer {
    background-color: #f9fafc;
}

#main-footer .et-social-icon a {
    color: #A8B9C3;
}